.form {
    width: 500px;
    background-color: rgb(173, 210, 228);
    padding: 0 20px 20px;
    margin: 120px auto 120px;
    border-radius: 5px;
    box-shadow: 2px #3a78ca;
}

.form .form-body {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;

}

.form-body .form-label {
    font-weight: bold;
    width: 150px;
}

.form-body .form-input {
    flex-grow: 1;
}

body {
    border-color: black;
    background-color: rgb(115, 185, 250);
}